@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,200&display=swap");
body {
  background-color: white;
  font-family: "raleway", sans-serif;
  text-transform: capitalize;
  color: #002f33 !important; }

.container_outer {
  overflow: hidden !important; }

.dropdown-item:hover,
.dropdown-item:focus {
  text-decoration: none;
  background-color: #f5f5f5 !important; }

.dropdown-toggle:after {
  display: none !important; }

.container-width {
  max-width: 1460px; }

.gc_sticky {
  padding-top: 1em;
  background-color: white;
  color: #002f33 !important;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); }
  .gc_sticky .dropdown-toggle::after {
    display: none; }

.gc_logo {
  width: 230px;
  height: 37.74px;
  margin-top: 1em 0; }

.btn-top:focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 4px 0px #3bc0cb !important; }

.btn-top {
  white-space: nowrap; }

.carty {
  width: 18px;
  height: 18px;
  margin-bottom: 4px; }

.carty_text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400; }

.mainmenu {
  padding: 0.7rem 0rem;
  max-width: 210px;
  max-height: 210px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }

.main_menu_icons {
  filter: grayscale(100%);
  width: 16px;
  height: 16px;
  margin-bottom: 2px; }

.menu_link {
  margin: 5px 0px; }

.menu_link:hover .main_menu_icons {
  filter: none; }

.main_menu_btn:focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 1px 0px #3bc0cb !important; }

@media screen and (max-width: 990px) {
  #main_menu {
    margin-top: 2rem; } }

.hero {
  background-image: url(../assets/images/hero.jpg);
  background-position: center;
  height: 771px;
  object-fit: contain; }

.hero-text {
  font-size: 5.12em !important;
  color: #ffffff;
  margin-bottom: 0.21em; }

.hero-search {
  height: 71px;
  max-width: 72%;
  min-width: 72%;
  border-radius: 22px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  padding-left: 2rem; }
  .hero-search::placeholder {
    font-size: 18px;
    font-family: "raleway", sans-serif;
    text-overflow: ellipsis; }
  .hero-search .search-btn-hero {
    height: 71px;
    width: 80px;
    padding-right: 1.4rem;
    margin-right: 2rem;
    border-radius: 22px;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .hero-search .search-btn-hero:hover .search-btn-img {
      filter: none; }
    .hero-search .search-btn-hero:focus {
      box-shadow: none; }

.search-btn-img {
  width: 100%;
  filter: grayscale(100%); }

.drop-item {
  color: #002f33 !important; }

.navbar {
  padding: 0;
  background-color: white !important; }
  .navbar .navbar-toggler-icon {
    background-image: url(/assets/icons/sliderbutton.svg); }

.nav-item {
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 600;
  color: #002f33 !important; }

.nav-link {
  color: #002f33 !important; }

.navbtn {
  position: relative; }

.browse_dropdown {
  padding: 1rem 0rem;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }
  .browse_dropdown .browse_item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .browse_dropdown .browse_item .pointer {
      filter: grayscale(100%);
      width: 15px;
      height: 15px;
      margin-left: auto; }

.browse_item:hover .pointer {
  filter: none; }

.default_nav {
  padding: 0.3rem 0;
  background-color: white !important;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); }

.gc_nav_logo {
  width: 90px;
  height: 53px; }

.default_navbtn {
  font-size: 20px !important; }

.form_row {
  width: 100% !important; }

.inline-search {
  position: relative !important;
  height: 40px;
  border-radius: 11px;
  width: 100%;
  border: none;
  border-top-left-radius: 11px !important;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1); }
  .inline-search::placeholder {
    font-size: 16px;
    font-family: "raleway", sans-serif;
    text-overflow: ellipsis; }

.search-btn-inline {
  position: absolute !important;
  right: 15px;
  top: 0;
  height: 40px;
  width: 49px;
  border-radius: 11px;
  background-color: white;
  border-top-left-radius: none;
  border-bottom-left-radius: none; }
  .search-btn-inline:hover .inline-search-btn-img {
    filter: none; }
  .search-btn-inline:focus {
    background-color: transparent !important;
    box-shadow: none !important; }

.inline-search-btn-img {
  filter: grayscale(100%);
  width: 100%; }

.navbtn::after {
  content: "";
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #3bc0cb;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 500ms ease-in-out; }

.navbtn:hover::after {
  transform: scale(1, 1);
  transition: transform 400ms ease-out; }

.bg-light {
  background-color: #f8f9fa !important; }

.modal-xs {
  max-width: 523px;
  border: none;
  max-height: 700; }

.modal-content {
  border-radius: 48px;
  padding: 2rem 2rem; }

.modal_form {
  margin: 1em 0; }

.modal-logo {
  width: 150px;
  height: 150px;
  padding: 2rem; }

.modal_text {
  max-width: 100px;
  font-size: 35px;
  border-bottom: #3bc0cb 2px solid;
  margin-bottom: 0; }

.btn-info {
  white-space: nowrap; }

.form-check {
  text-align: left;
  margin-top: 0.2em;
  margin-bottom: 4em; }

.search-btn {
  background-color: #f5f5f5;
  border: 1px solid #ced4da; }

.search-btn :focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 5px #3bc0cb !important; }

.form_design {
  border: none;
  height: 39px;
  padding: 0px 1rem;
  width: 100%;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 1rem; }
  .form_design::placeholder {
    font-size: 16;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #b4b4b4; }

.form-control:focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 5px #3bc0cb !important; }

.form-control-lg:focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 5px #3bc0cb !important; }

input[type="text"] {
  outline: none; }

.btn-default {
  background-color: #3bc0cb !important;
  display: inline-block;
  border-radius: 12px;
  text-align: center;
  color: white; }

.seller-carousel .owl-nav .owl-prev.disabled,
.seller-carousel .owl-nav .owl-next.disabled {
  display: none !important; }

.seller-carousel .owl-carousel .owl-nav {
  overflow: hidden; }

.seller-carousel .owl-prev,
.seller-carousel .owl-next {
  position: absolute !important;
  top: 30%;
  transform: translateY(-50%);
  display: block !important; }

.seller-carousel .owl-prev {
  left: -4%; }

.seller-carousel .owl-next {
  right: -4%; }

.seller-carousel .owl-prev,
.seller-carousel .owl-next :hover {
  background-color: white !important; }

.seller_container {
  max-width: 1500px;
  padding-top: 4rem;
  padding-bottom: 3rem;
  padding-right: 4.4rem;
  padding-left: 3.2rem; }

.seller_card {
  padding: 2rem 0;
  border: none; }
  .seller_card .verifiedseller {
    width: 16px;
    height: 16px; }
  .seller_card a {
    text-decoration: none; }
  .seller_card .seller_img_box {
    width: 12rem;
    height: 12rem;
    border-radius: 100%; }
  .seller_card .img-thumbnail {
    border-radius: 100%;
    border: none !important; }
  .seller_card .top_seller_pic {
    border-radius: 100%; }
  .seller_card .seller_name {
    font-weight: 600;
    color: #002f33;
    font-size: 1rem;
    padding: 0; }
  .seller_card .seller_about {
    font-size: 1rem;
    color: #002f33;
    padding: 0; }

.categories {
  margin-top: 5rem; }

#category_container {
  padding: 2rem;
  background-color: white; }
  #category_container a {
    text-decoration: none;
    padding: 1rem;
    outline: none; }
  #category_container .card-flyer {
    border-radius: 51px;
    background: #f6f6f6;
    overflow: hidden;
    margin-top: 50px;
    transition: all 0.3s ease-in; }
  #category_container .image-box img {
    transition: all 0.3s ease;
    height: 140px;
    width: 115px;
    margin-top: 1em; }

#category_container .image-box .category_img {
  width: 175px; }

#category_container .card-flyer:hover .image-box img {
  opacity: 0.7;
  transform: scale(1.15); }

#category_container .text-box {
  text-align: center; }

.text-container h6,
.text-container p {
  padding-left: 20px; }

#category_container .card-flyer .text-box .text-container {
  padding: 20px 10px; }

#category_container .card-flyer:hover {
  background: #f6f6f6;
  transition: all 0.3s ease-in;
  margin-top: 50px; }

#category_container .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #002f33;
  text-align: left; }

#category_container .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "raleway", sans-serif;
  letter-spacing: 1px;
  color: #002f33;
  text-align: left; }

.flexible_button {
  white-space: nowrap;
  position: relative;
  color: #002f33;
  padding: 0;
  font-size: 20px; }
  .flexible_button::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    height: 0.125rem;
    width: 4rem;
    background-color: #3bc0cb; }

.category-title,
.top-seller-title,
.brands-title,
.your-listing-title,
.wishlist-title,
.sold-title,
.rewiews-title,
.about-title {
  position: relative;
  font-weight: 600; }

.top-seller-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -5px;
  left: 20px;
  height: 0.2rem;
  width: 11.5rem;
  background-color: #3bc0cb; }

.category-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -5px;
  left: 20px;
  height: 0.2rem;
  width: 16rem;
  border-radius: 10px;
  background-color: #3bc0cb; }

.brands-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -4px;
  left: 20px;
  height: 0.2rem;
  width: 13.5rem;
  border-radius: 10px;
  background-color: #3bc0cb; }

.about-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -4px;
  left: 0px;
  height: 0.2rem;
  width: 11rem;
  border-radius: 10px;
  background-color: #3bc0cb; }

.your-listing-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -4px;
  left: 0px;
  height: 0.2rem;
  width: 9.8rem;
  background-color: #3bc0cb;
  border-radius: 10px; }

.wishlist-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0px;
  height: 0.2rem;
  width: 6.5rem;
  background-color: #3bc0cb;
  border-radius: 10px; }

.sold-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0px;
  height: 0.15rem;
  width: 8.5rem;
  background-color: #3bc0cb;
  border-radius: 10px; }

.rewiews-title::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0px;
  height: 0.2rem;
  width: 6rem;
  background-color: #3bc0cb;
  border-radius: 10px; }

.brand_carousel .owl-nav .owl-prev.disabled,
.brand_carousel .owl-nav .owl-next.disabled {
  display: none !important; }

.brand_carousel .owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px; }

.brand_carousel .owl-prev,
.brand_carousel .owl-next {
  position: absolute !important;
  top: 48%;
  transform: translateY(-50%);
  display: block !important; }

.brand_carousel .owl-prev {
  left: -5%; }

.brand_carousel .owl-next {
  right: -5%; }

.brand_carousel .owl-prev,
.brand_carousel .owl-next :hover {
  background-color: white !important; }

.brand_container {
  padding: 2rem 5rem;
  max-width: 1550px; }

.brand_card {
  padding: 0.54rem;
  max-width: 18rem;
  max-height: 18rem;
  border-radius: 3.188rem; }

.brand_pic {
  width: 100%;
  border-radius: 3.188rem; }
  .brand_pic:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4); }

.section-title {
  font-weight: bold; }

.about {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 4em;
  background-color: #f6f6f6;
  max-width: 1460px;
  min-height: 600px;
  border-radius: 3rem !important;
  left: 0px;
  top: 0px; }
  .about .termcond {
    font-size: 18px;
    color: #3bc0cb;
    font-weight: 400; }
    .about .termcond:hover {
      color: #002f33; }
  .about .card_about {
    border-radius: 2.125rem;
    border: none;
    margin: 0.5rem;
    max-width: 375px;
    max-height: 184px; }
    .about .card_about .step-about {
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
      letter-spacing: 0em; }
  .about .step {
    color: #b4b4b4;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 21px;
    padding: 1em 2em; }

.howitworksimg {
  width: 30px;
  height: 30px; }

.btn_listing {
  background-color: #002f33;
  color: white;
  white-space: nowrap;
  margin: 1em 0;
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
  font-weight: bold; }
  .btn_listing:hover {
    color: #3bc0cb; }

.footer {
  margin-top: 1rem;
  padding-top: 2rem;
  background-color: #f6f6f6; }
  .footer a {
    color: #002f33; }
    .footer a:hover {
      text-decoration: underline #3bc0cb; }

.btn_footer_send {
  font-size: 12px;
  background-color: #002f33;
  color: white;
  margin: 1em 0;
  padding: 0.4rem 1rem;
  border-radius: 0.6rem;
  font-weight: bold; }
  .btn_footer_send:hover {
    color: #3bc0cb; }

.banner {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); }

.nav-tabs {
  border: none !important; }
  .nav-tabs a.active {
    box-shadow: 0 6px 0px -4px #3bc0cb; }

.tab_btn {
  margin: 0;
  padding-bottom: 0; }

.tab_btn:focus {
  box-shadow: 0 6px 0px -4px #3bc0cb; }

.tab-pane {
  box-shadow: 0 0 0 white; }

#signup,
#login {
  max-width: 420px; }

.reg-form {
  border: none;
  height: 39px;
  padding: 0px 1rem;
  min-width: 20rem;
  width: 100%;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 1rem; }
  .reg-form::placeholder {
    font-size: 16;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #b4b4b4; }
  @media (max-width: 600px) {
    .reg-form .nav-item {
      padding: 0 1em; }
    .reg-form .tab-pane {
      min-width: 400px; }
    .reg-form .modal-sm {
      max-height: 200;
      min-width: 420px; } }

.listings {
  position: relative !important; }

@media (min-width: 1800px) {
  .side_button_container {
    position: absolute !important;
    top: 180px;
    right: 10%;
    white-space: nowrap; } }

.user_container {
  max-width: 1460px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 0rem 0 4rem 0;
  background-color: #f6f6f6;
  border-radius: 3rem !important; }

.container-width {
  max-width: 1400px; }

.user_setting_btn {
  border: none;
  background-color: inherit;
  margin-top: 2rem;
  margin-right: 2rem; }

.user_setting_menu {
  min-width: 1rem !important;
  border-radius: 0.6rem !important;
  border: none !important;
  padding: 0;
  box-shadow: 0 0 4px rgba(133, 130, 130, 0.3); }
  .user_setting_menu .user_setting:hover {
    color: #3bc0cb;
    background-color: transparent !important; }

.user_img_box {
  border: #002f33 1px solid;
  height: 259px;
  width: 259px;
  border-radius: 100%;
  padding: 0.5rem; }

.user_pic {
  border-radius: 100%;
  width: 100%; }

.user_name {
  font-size: 1.875rem;
  font-weight: 800 !important;
  color: #002f33;
  padding: 0; }

.rating_score {
  font-size: 18px;
  font-weight: 600;
  font-family: "raleway"; }

.reviews_counter {
  font-size: 16px;
  font-family: "raleway"; }

.user_info {
  padding-left: 0 !important;
  color: #002f33;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden; }

.atbt-badge {
  width: 16px;
  height: 18px; }

.user_attributes_container {
  background-color: white;
  max-height: 200px;
  max-width: 312px;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  border-radius: 1.3rem;
  font-size: 18px;
  line-height: 1.6;
  color: #002f33;
  white-space: nowrap;
  text-transform: none; }

.listing_container {
  padding: 1rem 2rem;
  background-color: white;
  max-width: 1460px; }
  .listing_container a {
    text-decoration: none;
    outline: none; }
  .listing_container .card-flyer {
    border-radius: 52px;
    background: #f6f6f6;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 313px;
    padding-bottom: 1.5rem; }
    .listing_container .card-flyer .listing-image-box {
      border-radius: 52px;
      max-height: 250px;
      max-width: 313px;
      overflow: hidden;
      text-align: center; }
      .listing_container .card-flyer .listing-image-box img {
        border-radius: 52px; }
    .listing_container .card-flyer .listing_name {
      font-size: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0 1em;
      white-space: nowrap;
      color: #002f33;
      margin: 0; }
    .listing_container .card-flyer .listing_price {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 800;
      color: #002f33;
      padding: 0 1em; }

.listing_rating_container {
  max-height: 50px !important;
  max-width: 280px !important; }
  .listing_rating_container .listing_rating {
    font-size: 0.7rem; }
