@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,200&display=swap");
body {
  background-color: white;
  font-family: "raleway", sans-serif;
  text-transform: capitalize;
  color: #002f33 !important; }

.gc_sticky {
  padding-top: 1em;
  background-color: #f8f9fa;
  color: #002f33 !important;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); }

.button_container {
  overflow: hidden;
  padding: 0; }

.drop-item {
  color: #002f33 !important; }

.nav-item {
  font-size: 20px;
  font-weight: 400;
  color: #002f33 !important; }

.nav-link {
  color: #002f33 !important; }

.navbtn {
  position: relative; }

.navbtn::after {
  content: "";
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #3bc0cb;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 500ms ease-in-out; }

.navbtn:hover::after {
  transform: scale(1, 1);
  transition: transform 400ms ease-out; }

.bg-light {
  background-color: #f8f9fa !important; }

.modal-content {
  border-radius: 2rem; }

.modal-body {
  padding: 2rem; }
  .modal-body .modal-logo {
    padding: 2rem; }
  .modal-body .modal_text {
    font-size: 35px; }
  .modal-body .modal_text::after {
    content: "";
    display: block;
    align-self: center;
    bottom: 10;
    width: 20px;
    height: 3px;
    background-color: #3bc0cb; }
  .modal-body .form-group {
    margin: 1rem 0; }

.btn-info {
  white-space: nowrap; }

.form-check {
  text-align: left;
  margin-top: 0.2em;
  margin-bottom: 4em; }

.search-btn {
  background-color: #f5f5f5;
  border: 1px solid #ced4da; }

.search-btn:focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 5px #3bc0cb !important; }

.gc_showcase {
  background: url(); }

.container .btn {
  padding-bottom: 0; }

.container .btn:focus {
  box-shadow: 0 6px 0px -2px #3bc0cb; }

.form_design {
  height: 49px; }

.form-control {
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 1rem; }
  .form-control::placeholder {
    font-size: 16;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

.form-control:focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 5px #3bc0cb !important; }

.btn-default {
  background-color: #3bc0cb !important;
  display: inline-block;
  border-radius: 12px;
  text-align: center;
  color: white; }

.nav-tabs {
  border: none; }

@media (max-width: 600px) {
  .nav-item {
    padding: 0 1em; }
  .tab-pane {
    min-width: 400px; }
  .modal-sm {
    min-width: 420px; } }

.about {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 4em;
  background-color: #f6f6f6;
  max-width: 1200px;
  border-radius: 3rem !important;
  left: 0px;
  top: 0px; }
  .about .termcond {
    font-size: 18px;
    color: #3bc0cb;
    font-weight: 400; }
    .about .termcond:hover {
      color: #002f33; }
  .about .card {
    border-radius: 1.6rem;
    border: none; }
  .about .step {
    margin-top: 5px;
    justify-self: center;
    padding: 2px 12px;
    color: #b4b4b4;
    max-width: 20%;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 1em;
    white-space: nowrap;
    flex-grow: 1; }
