@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,200&display=swap");
body {
  background-color: white;
  font-family: "raleway", sans-serif;
  text-transform: capitalize;
  color: #002f33 !important; }

.gc_sticky {
  margin-top: 1em;
  padding-top: 1em;
  background-color: white;
  color: #002f33 !important;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); }

.btn-top {
  white-space: nowrap; }

.hero {
  background-image: url(/assets/images/hero.jpg);
  background-position: center;
  height: 771px;
  object-fit: contain; }

.hero-text {
  font-size: 82px !important;
  color: #ffffff;
  margin-bottom: 0.21em; }

.hero-search {
  height: 71px;
  width: 74%;
  border-radius: 22px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none; }
  .hero-search::placeholder {
    font-size: 18px;
    font-family: "raleway", sans-serif; }
  .hero-search .search-btn-hero {
    height: 71px;
    width: 71px;
    border-radius: 22px;
    background-color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.button_container {
  overflow: hidden;
  padding: 0; }

.drop-item {
  color: #002f33 !important; }

.navbar {
  padding: 0;
  background-color: white !important; }
  .navbar .navbar-toggler-icon {
    background-image: url(/assets/icons/sliderbutton.svg); }

.nav-item {
  padding: 0 1rem;
  font-size: 20px;
  font-weight: 400;
  color: #002f33 !important; }

.nav-link {
  color: #002f33 !important; }

.navbtn {
  position: relative; }

.navbtn::after {
  content: "";
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #3bc0cb;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 500ms ease-in-out; }

.navbtn:hover::after {
  transform: scale(1, 1);
  transition: transform 400ms ease-out; }

.bg-light {
  background-color: #f8f9fa !important; }

.modal-xs {
  max-width: 523px;
  border: none;
  max-height: 700; }

.modal-content {
  border-radius: 48px;
  padding: 2rem 2rem; }

.modal_form {
  margin: 1em 0; }

.modal-logo {
  padding: 2rem; }

.modal_text {
  max-width: 100px;
  font-size: 35px;
  border-bottom: #3bc0cb 2px solid;
  margin-bottom: 0; }

.btn-info {
  white-space: nowrap; }

.form-check {
  text-align: left;
  margin-top: 0.2em;
  margin-bottom: 4em; }

.search-btn {
  background-color: #f5f5f5;
  border: 1px solid #ced4da; }

.search-btn,
.search-btn-hero:focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 5px #3bc0cb !important; }

.form_design {
  border: none;
  height: 39px;
  padding: 0px 1rem;
  min-width: 20rem;
  width: 100%;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 1rem; }
  .form_design::placeholder {
    font-size: 16;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #b4b4b4; }

.form-control:focus {
  border-color: #3bc0cb !important;
  box-shadow: 0 0 5px #3bc0cb !important; }

.btn-default {
  background-color: #3bc0cb !important;
  display: inline-block;
  border-radius: 12px;
  text-align: center;
  color: white; }

.gc_showcase {
  background: url(); }

.categories {
  margin-top: 5rem; }

.category-title {
  padding-bottom: 0;
  border-bottom: 2px solid #3bc0cb;
  max-width: 310px; }

#category_container {
  background-color: white; }

#category_container a {
  text-decoration: none;
  outline: none; }

#category_container .card-flyer {
  border-radius: 51px; }

#category_container .card-flyer {
  background: #f6f6f6;
  overflow: hidden;
  border-radius: 51px; }

#category_container .card-flyer .image-box img {
  transition: all 0.3s ease;
  height: 140px;
  width: 115px;
  margin-top: 1em; }

#category_container .card-flyer:hover .image-box img {
  opacity: 0.7;
  transform: scale(1.15); }

#category_container .card-flyer .text-box {
  text-align: center; }

#category_container .card-flyer .text-box .text-container {
  padding: 30px 18px; }

#category_container .card-flyer {
  background: #f6f6f6;
  margin-top: 50px;
  transition: all 0.3s ease-in; }

#category_container .card-flyer:hover {
  background: #f6f6f6;
  transition: all 0.3s ease-in;
  margin-top: 50px; }

#category_container .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #002f33;
  text-align: left; }

#category_container .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "raleway", sans-serif;
  letter-spacing: 1px;
  color: #002f33;
  text-align: left; }

.viewall_cat {
  position: relative;
  display: inline-block;
  color: #002f33;
  padding: 0;
  font-size: 20px; }
  .viewall_cat::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    height: 0.1rem;
    width: 4rem;
    background-color: #3bc0cb; }

.about {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 4em;
  background-color: #f6f6f6;
  max-width: 1460px;
  min-height: 600px;
  border-radius: 3rem !important;
  left: 0px;
  top: 0px; }
  .about .termcond {
    font-size: 18px;
    color: #3bc0cb;
    font-weight: 400; }
    .about .termcond:hover {
      color: #002f33; }
  .about .card_about {
    border-radius: 2.125rem;
    border: none;
    margin: 0.5rem;
    max-width: 375px;
    max-height: 184px; }
    .about .card_about h4 {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em; }
  .about .step {
    color: #b4b4b4;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    line-height: 21px;
    padding: 1em 2em; }

.footer {
  margin-top: 1rem;
  padding-top: 2rem;
  background-color: #f6f6f6; }
  .footer a {
    color: #002f33; }
    .footer a:hover {
      text-decoration: underline #3bc0cb; }

.owl-prev {
  left: -30px; }

.owl-next {
  right: -30px; }

.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
  display: none !important; }

.owl-prev,
.owl-next {
  position: absolute;
  top: 90px; }

.banner {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2); }

.tab_btn {
  margin: 0;
  padding-bottom: 0; }

.tab_btn:focus {
  box-shadow: 0 6px 0px -2px #3bc0cb; }

.active {
  box-shadow: 0 6px 0px -2px #3bc0cb; }

#signup,
#login {
  max-width: 420px; }

.reg-form {
  border: none;
  height: 39px;
  padding: 0px 1rem;
  min-width: 20rem;
  width: 100%;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 1rem; }
  .reg-form::placeholder {
    font-size: 16;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #b4b4b4; }
  @media (max-width: 600px) {
    .reg-form .nav-item {
      padding: 0 1em; }
    .reg-form .tab-pane {
      min-width: 400px; }
    .reg-form .modal-sm {
      max-height: 200;
      min-width: 420px; } }
