// Main Sass File
$form_input_background: #f5f5f5;
$theme_color: #3bc0cb;
$light_dark: rgba(153, 153, 153, 0.61);
@mixin line {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 140px;
  right: 0;
  background-color: $theme_color;
}

body {
  font-family: "raleway";
  padding-top: 1em;
  text-transform: capitalize;
}

.modal-button {
  background-color: $theme_color;
  margin-bottom: 1em;
  padding: 0.4em 1em;
}
.signup_top {
  margin-bottom: 1em;
  padding: 0.4em 0.5em;
}
.modal-content {
  border-radius: 2rem;
}
.modal-body {
  padding: 2rem;
  .modal-logo {
    padding: 2rem;
  }
  .modal-text {
    padding: 2rem;
  }
  .form-group {
    margin: 1rem 0;
  }
}

.form-check {
  text-align: left;
  margin-top: 0.2em;
  margin-bottom: 4em;
}
